.registerContainer{
    background-color: bisque;
}
.registerForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid rebeccapurple;
}

.form-item {
    display: flex;
    border: 1px solid red;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
}

.form-item label {
    font-weight: bold;
    width: 100%;
}

.form-item input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid slategray;
    color: black;
}